/* Barra de navegacion */

.navbar {
  padding: 2rem;

  background-color: #030A1C;
  box-shadow: 0 10px 15px 0 rgba(0.5,0,0,.4);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Abril Fatface', cursive;
  color: #84A9D9;
}

h2 {
  color: #6FB1BF
}

.seccion-oscura {
  color: #84A9D9;
  background: linear-gradient(0deg, rgba(3,10,28,1) 97%, rgba(76,122,212,1) 100%);
}

.seccion-clara {
  color: #030A1C;
  background: linear-gradient(0deg, rgba(76,122,212,1) 0%, rgba(62,56,134,1) 50%, rgba(18,31,86,1) 75%, rgba(3,10,28,1) 100%);
}

.seccion-dark {
  color: #84A9D9;
  background-color: #030A1C;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Abril Fatface', cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #6FB1BF;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  /* background-color: #0D0D0D; */
  background: linear-gradient(0deg, rgba(76,122,212,1) 0%, rgba(62,56,134,1) 50%, rgba(10,19,58,1) 100%);
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #4C7AD4;
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #3E3886;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  color: whitesmoke;
}

.experiencia .columna:hover {
  color: whitesmoke;
  background-color: #121F56;
}

.experiencia i {
  font-size: 2.5rem;
  color: #121F56;
  background-color: #6FB1BF;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
  /*background-color: F2B6A0#; */
}

.button {
  border: none;
  color: #121F56;
  padding: .6rem .6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8rem;
  margin: 1rem 1rem;
  background-color: #6FB1BF;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

.button-2 {
  border: none;
  color: #65BF9E;
  padding: .6rem .6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 1rem 1rem;
  /*background-color: #0D0D0D;*/
  background-color: transparent;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  /*box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);*/
}

.button-2:hover{
  color: #0D0D0D;
  background-color: #65BF9E;
}

.button-3 {
  border: 1px solid #4C7AD4;
  color: white;
  padding: .4rem .4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 1rem 1rem;
  background-color: #3E3886;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  /*box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);*/
}

/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 25px;
  text-align: center;
  font-family: 'Bacasime Antique', serif;
  color: whitesmoke;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #6FB1BF;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background: linear-gradient(0deg, rgba(76,122,212,1) 0%, rgba(62,56,134,1) 70%, rgba(10,19,58,1) 100%);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 300px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
  color: #BFACAA;
  fill: #BFACAA;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.footer-band{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: #4C7AD4;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #4C7AD4;
  border: 2px solid whitesmoke;
}

.iconos-redes-sociales a:hover i {
  color: whitesmoke;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}


.Typewriter__cursor {
  color: #65BF9E !important;
}

/* Floating Button*/
.float {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#3E3886;
	color:whitesmoke;
	border-radius:50px;
	text-align:center;
	box-shadow: 5px 5px 5px #0A133A;
  font-size: 2.4rem;
}

.my-float{
  margin: 10px;
}


/* 3D MODELLING */
.angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
  padding: 0% 10%;

}

#item-0 {

  background-color: #DE65BD;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 4;

}
#item-1 {

  background-color: #6F57BB;
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 6;

}
#item-2 {

  background-color: #9D9F67;
  grid-row-start: 3;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 5;

}
#item-3 {

  background-color: #DC59BC;
  grid-row-start: 3;
  grid-column-start: 5;

  grid-row-end: 4;
  grid-column-end: 6;

}
#item-4 {

  background-color: #5D5E7D;
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 7;
  grid-column-end: 6;

}
#item-5 {

  background-color: #5BAF89;
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 2;

}
#item-6 {

  background-color: #DD89EF;
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 3;

}
#item-7 {

  background-color: #5F5DDE;
  grid-row-start: 5;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 3;
}

/* Lighting */

/* .lighting {
  padding: 40px 40px 60px 40px;
}*/

.lighting .columna {
  padding: 20px;
  border: 2px solid #3E3886;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  color: whitesmoke;
}

.light-img-lg {
  width: 75%;
  height: auto;
}

.light-img-md {
  width: 75%;
  height: auto;
}

/* Illustration */
.row-ill {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-ill {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-ill img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column-ill {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
